
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

.Bestsellers{
    font-family: "Source Sans 3", serif;
    position: relative;
}

.BestsellersBackground{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.BestsellersBackgroundColor, .BestsellersBackgroundColor:empty  {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #EEF2F5;
}

.BestsellersContent{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.BestsellersContentTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1040px) {
    .BestsellersContentTop{
        justify-content: center;
    }
}

.BestsellersContentTitle{
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 1.3px;
    color: #000;
}

.BestsellersContentButtons{
    display: flex;
    gap: 12px;
}

@media (max-width: 1040px) {
    .BestsellersContentButtons{
        display: none;
    }
}

.BestsellersContentButtonsNav{
    display: flex;
    gap: 12px;
}

.BestsellersContentButtonsNavButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    min-width: 48px;
    background-color: #fff;
    border: 1px solid #004F9F;
    border-radius: 2px;
    padding: 10px;
    cursor: pointer;
    transition: .3s;
    --icon-fill: #004F9F;
}

.BestsellersContentButtonsNavButton:hover{
    background-color: #004F9F;
    --icon-fill: #fff;
}

.BestsellersContentButtonsNavButtonIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 14px;
    width: 14px;
}

.BestsellersContentButtonsNavButtonIcon svg{
    height: 100%;
    width: 100%;
}

.BestsellersContentButtonsNavButtonIcon svg path{
    fill: var(--icon-fill)
}

.BestsellersProductsSider:not(.swiper-initialized) .BestsellersProductsSide{
    margin-right: 32px;
}

.BestsellersProductsSide.swiper-slide{
    width: 288px;
    min-width: 288px;
    display: flex;
    height: auto;
}

@media (max-width: 1040px) {
    .BestsellersProductsSide.swiper-slide{
        width: 184px;
        min-width: 184px;
    }
}

.BestsellersCard{
    display: flex;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.BestsellersCardBackground{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.BestsellersCardBackgroundColor, .BestsellersCardBackgroundColor:empty {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.BestsellersCardContentLink{
    display: contents;
}

.BestsellersCardContent{
    display: flex;
    flex-direction: column;
    padding: 24px;
    box-sizing: border-box;
    width: 100%;
}

@media (max-width: 1040px) {
    .BestsellersCardContent{
        padding: 12px;
    }
}

.BestsellersCardContentImage{
    display: flex;
    width: 100%;
    aspect-ratio: 1 / 1;
    height: fit-content;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    position: relative;
    overflow: hidden;
}

.BestsellersCardContentImage img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.BestsellersCardContentReview{
    display: flex;
    align-items: center;
    gap: 8px;
}

.BestsellersCardContentReviewStars{
    display: flex;
    align-items: center;
    gap: 4px;
}

.BestsellersCardContentReviewStar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.BestsellersCardContentReviewStarIcon, .BestsellersCardContentReviewStarIcon:empty{
    display: flex;
    width: 16px;
    height: 16px;
    background-size: var(--rating);
}

.BestsellersCardContentReviewStarIcon svg{
    width: 100%;
    height: 100%;
}

.BestsellersCardContentReviewStarIcon svg path{
    stroke: #FFA800;
}

.BestsellersCardContentReviewCount{
    color: #848C8C;
    font-size: 16px;
    line-height: 150%;
}

@media (max-width: 1040px) {
    .BestsellersCardContentReviewCount{
        font-size: 14px;
    }
}

.BestsellersCardContentDescription{
    margin-top: 4px;
    font-size: 16px;
    color: #000;
    line-height: 150%;
    font-weight: 400;
}

@media (max-width: 1040px) {
    .BestsellersCardContentDescription{
        font-size: 14px;
    }
}

.BestsellersCardContentPrice{
    display: flex;
    padding-top: 12px;
    margin-top: auto;
    align-items: baseline;
    gap: 4px;
}

.BestsellersCardContentPriceFrom{
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: #000; 
}

@media (max-width: 1040px) {
    .BestsellersCardContentPriceFrom{
        font-size: 14px;
    }
}

.BestsellersCardContentPriceFrom.BestsellersCardContentPriceFromCompare{
    color: #FF4814;
}


.BestsellersCardContentPriceDefault{
    font-size: 26px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.13px;
    color: #000;
}
@media (max-width: 1040px) {
    .BestsellersCardContentPriceDefault{
        font-size: 20px;
    }
}


.BestsellersCardContentPriceDiscount{
    font-size: 26px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.13px;
    color: #FF4814;
}
@media (max-width: 1040px) {
    .BestsellersCardContentPriceDiscount{
        font-size: 20px;
    }
}

.BestsellersCardContentPriceOld{
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: #C8C8C8;
    text-decoration-line: line-through;
    align-self: center;
    margin-left: 4px;
}
@media (max-width: 1040px) {
    .BestsellersCardContentPriceOld{
        font-size: 14px;
    }
}

.BestsellersCardContentButtonCart{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #004F9F;
    --icon-fill: #fff;
    height: 48px;
    width: 48px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    z-index: 5;
    cursor: pointer;
    transition: .3s;
    border: 1px solid #004F9F;
    transform: translateY(105%);
}

.BestsellersCardContentButtonCart[data-avaliable="false"]{
    background-color: #EEF2F5;
    --icon-fill: #848C8C;
    border: 1px solid #EEF2F5;
    pointer-events: none;
}

.BestsellersCard:hover .BestsellersCardContentButtonCart{
    transform: translateY(0%);
}

.BestsellersCardContentButtonCart:hover{
    background-color: #fff;
    --icon-fill: #004F9F;
}

.BestsellersCardContentButtonCartIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
}

.BestsellersCardContentButtonCartIcon svg{
    width: 100%;
    height: 100%;
}

.BestsellersCardContentButtonCartIcon svg path {
    stroke: var(--icon-fill)
}